<div data-id="{{id}}">
  {{#each comments as |comment|}}
    <div data-id="{{comment.post_id}}">
      <div data-id="{{comment.post_id}}">
        <br>
        <p class="comment-content">{{comment.body}}</p>
      </div>
    </div>
    <br>
  {{/each}}
  <div class="create-container">
    <h3 class="create-form">Comment</h3>
    <form data-id="{{post_id}}" id="create-comment">
      <textarea required="required" data-id="{{comment.id}}" class="form-control textarea clear" name="comment[body]" placeholder="Type here" maxlength="175" rows="5"></textarea>
      <br>
      <button data-id="{{comment.post_id}}" type="submit" class="btn btn-default">Publish</button>
    </form>
  </div>
</div>
