{{#each comments as |comment|}}
<div data-id="{{id}}">
  <div class="comment-content" data-id="{{id}}">
    <h4 data-id={{id}}>{{user.email}} commented:</h4>
    <p>{{comment.body}}</p>
  </div>
</div>
{{/each}}
